<% include _header %>
<% if (user.cover) { %>
<img src="/uploads/<%= user.cover %>" />
<% } %>
<form action="/cover" enctype="multipart/form-data" method="post">
<input name="cover" type="file" class="form-control" placeholder="Cover Photo">
<input type="submit" value="Update Cover Photo" class="btn btn-primary">
</form>
<% include _footer %>