<% include _header %>
<h1>Edit your profile</h1>
<form action="/edit" method="post">
 <input name="email" type="text" class="form-control" placeholder="Email"
 value="<%= currentUser.email %>">
 <% if (user.projects.length > 0) { %>
 <input name="studentname" type="text" class="form-control" placeholder="Student name"
 value="<%= currentUser.studentName || "" %>" required> 
 <textarea name="description" class="form-control" placeholder="Portfolio Description">
<%= currentUser.description || "" %></textarea>
<% } else {%>
    <a href="/add_project" class="btn btn-primary">Create Portfolio</a>
<% } %>
<input type="submit" value="Update Info" class="btn btn-primary ">
</form>
<% include _footer %>