<% include _header %>
<h1>Edit your profile</h1>
<form action="/edit" method="post">
 <input name="email" type="text" class="form-control" placeholder="Email"
 value="<%= currentUser.email %>">
 <textarea name="description" class="form-control" placeholder="Tell us about yourself!">
<%= currentUser.description || "" %></textarea>
<input type="submit" value="Update" class="btn btn-primary btn-block">
</form>
<% include _footer %>