<% include _header %>
<h1>Welcome to GUC Portfolio!</h1>

<% users.forEach(function(user) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/portfolio/<%= user.username %>">
        <%= user.name() %>
</a> </div>
    <% if (user.bio) { %>
      <div class="panel-body"><%= user.bio %></div>
<% } %> </div>
<% }) %>
<% include _footer %>